
<div class="content-area content-area-relative" style="height:100% !important" id="masterDetailsLayout" ng-if="vm.isInitComplete">
    <h2>{{vm.screenTitle}}</h2>
    <div id="masterList" style="height:100%">
        <div style="display:inline-block;vertical-align:top;float:right;height:100%">
            <sit-command-bar sit-commands="vm.newObj.actions" sit-layout="vertical"></sit-command-bar>
        </div>
        <div style="display:inline-block;vertical-align:top; height:99%">
            <sit-item-collection-viewer sit-data="vm.newObj.master.runtimeData" sit-options="vm.newObj.master.runtimeConf"></sit-item-collection-viewer>
        </div>
        <div class="mduiDetails" ng-class="{noDrillDownPadding:!vm.isDrillDownState}">
            <div class="mduiBreadcrumb" ng-if="vm.isDrillDownState"> <sit-breadcrumb></sit-breadcrumb></div>
            <tabset ng-class="{drillDownTab:vm.isDrillDownState === true }">
                <tab ng-repeat="detail in vm.newObj.details" index="{{$index}}" heading="{{detail.title || detail.id | translate}}" select="vm.setActiveTabIndex(detail.id)" active="detail.isActive" disabled="detail.isDisabled">
                    <div id="detailList" ng-if="detail.multiplicity === 'many' && detail.id === vm.activeContentId" style="height:100%">
                        <sit-item-collection-viewer sit-data="detail.runtimeData" sit-options="detail.runtimeConf"></sit-item-collection-viewer>
                    </div>
                    <div ng-if="detail.multiplicity === 'one' && vm.ready && vm.propertiesLoaded">
                        <sit-property-grid sit-id="itemPropertyGrid1"
                                           sit-layout="Horizontal"
                                           sit-type="{{detail.runtimeConf.type}}"
                                           sit-columns="detail.runtimeConf.columns"
                                           sit-mode="{{detail.runtimeConf.mode}}"
                                           sit-data="detail.runtimeConf.data"
                                           sit-groups="vm.groupDetails">
                        </sit-property-grid>
                    </div>
                    <div ng-if="detail.multiplicity === 'auditTrail' && detail.runtimeConf.filter.EntityId !==''">
                        <sit-at-viewer sit-filter="detail.runtimeConf.filter"
                                       sit-start-empty="detail.runtimeConf.startEmpty"
                                       sit-config="detail.runtimeConf.config">
                        </sit-at-viewer>
                    </div>
                    <div style="overflow-x:auto;overflow-y:auto;height:100%" ng-if="detail.multiplicity === 'custom'">
                        <div init="{{activeContent = vm.activeContentId}}" ng-include="detail.templatePath"></div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
