<div ng-if="passwordCtrl.readOnly || passwordCtrl.ngReadonly" class="label-property-grid-control-readonly property-value-ellipsis"> {{passwordCtrl.value}} </div>

<ng-form name='textForm' ng-if="!(passwordCtrl.readOnly || passwordCtrl.ngReadonly)" ng-class="{'isrequired' : (passwordCtrl.validation.required) && passwordCtrl.value===undefined}">
    <div class='property-grid-input-group'>
        <input type='password'
               name='{{passwordCtrl.name}}'
               ng-class='{"validator-control-invalid":((textForm.$invalid && textForm.$dirty) || (textForm.$invalid && textForm.$visited)),
                "validator-control":!((textForm.$invalid && textForm.$dirty) || (textForm.$invalid && textForm.$visited)) ,
                "ng-dirty":textForm.$dirty}'
               ng-model='passwordCtrl.value'
               ng-required='passwordCtrl.validation.required'
               ng-minlength='passwordCtrl.validation.minlength'
               ng-maxlength='passwordCtrl.validation.maxlength'
               ng-pattern='passwordCtrl.validation.pattern'
               ng-blur="passwordCtrl.ngBlur()"
               sit-change="passwordCtrl.sitChange"
               ng-disabled="passwordCtrl.ngDisabled"
               ng-focus="passwordCtrl.ngFocus()"
               sit-form-input-validator='Password'
               ng-readonly="passwordCtrl.ngReadonly" />
    </div>
</ng-form>