<div style="width:100%; height:100%;">
    <table sit-table="esViewer" class="table" sit-config="vm.tableConfig">
        <thead>
            <tr>
                <th>
                    <div class="tool-bar">
                        <span sit-table-filterbar></span>
                        <span sit-table-button
                              sit-cmd-icon="Refresh"
                              ng-click="vm.refreshData()"
                              sit-label={{vm.refreshTitle}}></span>
                    </div>
                </th>
            </tr>
            <tr>
                <th style="width:26px"></th>
                <th>{{vm.tableConfig.fields.NId.displayName}}</th>
                <th>{{vm.tableConfig.fields.Name.displayName}}</th>
                <th>{{vm.tableConfig.fields.Description.displayName}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat-start="row in vm.tableConfig.data" ng-class="{'st-selected':row.NId === vm.config.SelectedScenario}">
                <td style="width:26px" ng-if="row.expanded" ng-click="row.expanded=false"><em sit-mom-icon="{path:'common/icons/miscDownArrow16.svg', size: '16px'}"></em></td>
                <td style="width:26px" ng-if="!row.expanded" ng-click="row.expanded=true"><em sit-mom-icon="{path:'common/icons/miscRightArrow16.svg', size: '16px'}"></em></td>
                <td>{{row.NId}}</td>
                <td>{{row.Name}}</td>
                <td>{{row.Description}}</td>
            </tr>
            <tr sit-freez ng-show="false"></tr>
            <tr sit-freez ng-repeat-end ng-show="row.expanded">
                <td colspan="8">

                    <div class="scenario-details-container" ng-if="row.expanded">

                        <div ng-repeat="sig in row.SignatureConfigurations" style="margin-left: 15px; height:36px; cursor: default;">

                            <div style="display:inline-table;">
                                <em class="fa es-signer-badge"  sit-mom-icon="{path:'common/icons/cmdUser24.svg', size: '16px'}" ng-if="sig.Signer.Type=='SpecificUser'"></em>
                                <em class="fa es-signer-badge"  sit-mom-icon="{path:'common/icons/cmdCardId24.svg', size: '16px'}" ng-if="sig.Signer.Type=='Role'">
                                </em>
                                    <div style="display:inline-block; margin-top: -5px; margin-left: 5px;">
                                        <div ng-if="sig.Signer.Type=='SpecificUser'">
                                            <em class="es-record-detail-header">{{'electronicSignature.user' | translate}}: </em> <em class="es-record-detail-label">{{sig.Signer.Name}}</em>
                                        </div>
                                        <div ng-if="sig.Signer.Type=='Role'">
                                            <em class="es-record-detail-header">{{'electronicSignature.role' | translate}}: </em> <em class="es-record-detail-label">{{sig.Signer.Name}}</em>
                                        </div>
                                        <div style="margin-top: -5px;">
                                            <em class="es-record-detail-header">{{'electronicSignature.reason' | translate}}: </em> <em class="es-record-detail-label">{{sig.Reason}}</em>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr sit-table-pager></tr>
        </tfoot>
    </table>
</div>
