<div ng-if="entityPickerCtrl.readOnly || entityPickerCtrl.ngReadonly" class="label-property-grid-control-readonly property-value-ellipsis">
    {{entityPickerCtrl.readOnlyValue | entityPickrerFilter}}
</div>
<ng-form name="entityPickerForm" ng-if="!(entityPickerCtrl.readOnly || entityPickerCtrl.ngReadonly)" ng-class="{'isrequired' : (entityPickerCtrl.validation.required) && entityPickerCtrl.value===undefined}">
    <div data-internal-type="entity-picker-container" id="entity-picker-container" class="property-grid-input-group property-grid-list entity-picker-container">
        <div id="entity-picker-value" ng-if="entityPickerCtrl.isLocalDatasource">
            <input ng-required="entityPickerCtrl.required"
                   ng-attr-id="{{entityPickerCtrl.id ? entityPickerCtrl.id + '.typeahead' : undefined}}"
                   type="text" ng-model="entityPickerCtrl.value"
                   placeholder={{entityPickerCtrl.placeholder}}
                   class="entityPicker-control"
                   uib-typeahead="entity as entity[entityPickerCtrl.selectedAttributeToDisplay] for entity in entityPickerCtrl.datasource | entityPickrerSearchFilter: $viewValue:entityPickerCtrl.attributeToSearch | limitTo:entityPickerCtrl.limit"
                   typeahead-template-url={{entityPickerCtrl.templateUrl}}
                   typeahead-editable=entityPickerCtrl.editable
                   sit-form-input-validator="{{entityPickerCtrl.label}}"
                   typeahead-on-select='entityPickerCtrl.onSelect($item, $model, $label)'
                   typeahead-wait-ms="entityPickerCtrl.waitTime"
                   ng-class="{'validator-control-options': entityPickerCtrl.sitoption && ((entityPickerForm.$invalid && entityPickerForm.$dirty) || (entityPickerForm.$invalid && entityPickerForm.$visited)),
                    'validator-control-invalid':((entityPickerForm.$invalid && entityPickerForm.$dirty) || (entityPickerForm.$invalid && entityPickerForm.$visited)),
                    'validator-control':!((entityPickerForm.$invalid && entityPickerForm.$dirty) || (entityPickerForm.$invalid && entityPickerForm.$visited)),
                    'ng-dirty':entityPickerForm.$dirty}"
                   ng-blur="entityPickerCtrl.ngBlur()"
                   sit-change="entityPickerCtrl.sitChange"
                   ng-disabled="entityPickerCtrl.ngDisabled"
                   ng-focus="entityPickerCtrl.ngFocus()"
                   autocomplete="off"
                   ng-change="entityPickerCtrl.setDropDownHeight()" />
        </div>

        <div id="entity-picker-value" ng-if="!entityPickerCtrl.isLocalDatasource">
            <input ng-required="entityPickerCtrl.required"
                   ng-attr-id="{{entityPickerCtrl.id ? entityPickerCtrl.id + '.typeahead' : undefined}}"
                   type="text" ng-model="entityPickerCtrl.value"
                   placeholder={{entityPickerCtrl.placeholder}}
                   class="entityPicker-control"
                   uib-typeahead="entity as entity[entityPickerCtrl.selectedAttributeToDisplay] for entity in entityPickerCtrl.datasource($viewValue)  | limitTo:entityPickerCtrl.limit"
                   typeahead-template-url={{entityPickerCtrl.templateUrl}}
                   typeahead-editable=entityPickerCtrl.editable
                   sit-form-input-validator="{{entityPickerCtrl.label}}"
                   typeahead-on-select='entityPickerCtrl.onSelect($item, $model, $label)'
                   typeahead-wait-ms="entityPickerCtrl.waitTime"
                   ng-class="{'validator-control-options': entityPickerCtrl.sitoption && ((entityPickerForm.$invalid && entityPickerForm.$dirty) || (entityPickerForm.$invalid && entityPickerForm.$visited)),
                    'validator-control-invalid':((entityPickerForm.$invalid && entityPickerForm.$dirty) || (entityPickerForm.$invalid && entityPickerForm.$visited)),
                    'validator-control':!((entityPickerForm.$invalid && entityPickerForm.$dirty) || (entityPickerForm.$invalid && entityPickerForm.$visited)),
                    'ng-dirty':entityPickerForm.$dirty}"
                   ng-blur="entityPickerCtrl.ngBlur()"
                   sit-change="entityPickerCtrl.sitChange"
                   ng-disabled="entityPickerCtrl.ngDisabled"
                   ng-focus="entityPickerCtrl.ngFocus()"
                   autocomplete="off"
                   ng-change="entityPickerCtrl.setDropDownHeight()" />
        </div>
        <div class="btn property-grid-addon-icon entity-dialog-btn" ng-click="entityPickerCtrl.ngDisabled || entityPickerCtrl.showPopup()" ng-hide="!entityPickerCtrl.sitoption" ng-disabled="entityPickerCtrl.ngDisabled">
            <em sit-mom-icon="entityPickerCtrl.cmdIcon" ng-hide="!entityPickerCtrl.sitoption" ng-disabled="entityPickerCtrl.ngDisabled"></em>
        </div>
    </div>
</ng-form>
