<!DOCTYPE html>
<html ng-class="{'touch': $root.isTouchDevice}">
<head>
    <title data-ng-bind="title"> Simatic IT Project Studio (Seeds) </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link ng-repeat="styleSheet in $root.currentTheme.styleSheets" ng-href="{{styleSheet}}" rel="stylesheet">
</head>
<body>
    <div class="table-layout fullh">
        <div class="table-row">
            <header class="top">
                <div data-ng-include="'common/components/header/header.tpl.html'"></div>
            </header>
        </div>
        <div ui-view="FullScreenView" ng-show="$root.layoutMode === 'full'"></div>
        <div class="table-row fullh" ng-show="$root.layoutMode === 'normal'">
            <div class="sidebar-container" h-adapter ng-hide="$root.$state.current.data.sideBarIsHidden">
                <sit-sidebar>
                    <div class="sidebar-body">
                        <div ng-style="sidebar.calc(sidebar.header.length, 32)">
                            <sit-sidebar-item sit-type="header" sit-source="sidebar.header" sit-actions="sidebar.actions">
                            </sit-sidebar-item>
                        </div>
                        <div ng-style="sidebar.calc(sidebar.activeItemsCount(sidebar.fixed), 48)">
                            <sit-sidebar-item sit-type="fixed" sit-source="sidebar.fixed" sit-selected="sidebar.selected">
                            </sit-sidebar-item>
                        </div>
                        <div ng-style="sidebar.calc('100%',sidebar.header.length, 32,sidebar.activeItemsCount(sidebar.fixed), 48, 1, 48)">
                            <sit-sidebar-item sit-source="sidebar.menu" sit-selected="sidebar.selected" sit-environment="sidebar.environment">
                            </sit-sidebar-item>
                        </div>
                        <div class="message" ng-if="sidebar.errorMessage" ng-bind="sidebar.errorMessage"></div>
                    </div>
                </sit-sidebar>
            </div>
            <div data-ng-include="'common/layout/shell/shell.tpl.html'" class="canvas-container"></div>
        </div>
    </div>
    <sit-help-window></sit-help-window>
    <sit-overlay sit-modalid="globalMsgOverlayId" sit-modaltext="$root.globalOverlayData.text" sit-title="$root.globalOverlayData.title" sit-buttons="$root.globalOverlayData.buttons"></sit-overlay>
    <sit-busy-indicator sit-message="$root.globalBusyIndicator.message" sit-icon="$root.globalBusyIndicator.icon" sit-delay="$root.globalBusyIndicator.delay" indicatorid="{{$root.globalBusyIndicator.id}}"></sit-busy-indicator>
    <div data-sit-notification-tile data-sit-tile-title="'Info'" data-sit-tile-content="''" data-sit-tile-type="'info'" data-sit-tile-counter="" data-sit-tile-click="" data-sit-tile-popup="true" data-sit-tile-global="true" id="appLevelNotificationTile"></div>
    
    <script src="common/scripts/jquery-2.2.0.js"></script>
    <script src="common/scripts/jquery-ui-1.11.4.js"></script>
    <script src="common/scripts/bootstrap.js"></script>
    <script src="common/scripts/underscore.js"></script>
    <script src="common/scripts/moment.js"></script>
    <script src="common/scripts/moment-with-locales.js"></script>
    <script src="common/scripts/d3.js"></script>
    <script src="common/scripts/nv.d3.js"></script>
    <script src="common/scripts/dagre-d3.js"></script>
    <script src="common/scripts/highlight.pack.js"></script>
    <script src="common/scripts/angular.js"></script>
    <script src="common/scripts/angular-animate.js"></script>
    <script src="common/scripts/angular-route.js"></script>
    <script src="common/scripts/angular-sanitize.js"></script>
    <script src="common/scripts/angular-cookies.js"></script>
    <script src="common/scripts/angular-messages.js"></script>
    <script src="common/scripts/angular-message-format.js"></script>
    <script src="common/scripts/angular-mocks.js"></script>
    <script src="common/scripts/angular-ui-router.js"></script>
    <script src="common/scripts/angular-resource.js"></script>
    <script src="common/scripts/angular-translate.js"></script>
    <script src="common/scripts/angular-translate-loader-partial.js"></script>
    <script src="common/scripts/ui-bootstrap-tpls-1.1.0.js"></script>
    <script src="common/scripts/angular-moment.js"></script>
    <script src="common/scripts/angular-nvd3.js"></script>
    <script src="common/scripts/ng-grid-2.0.14.debug.js"></script>
    <script src="common/scripts/swac-base.js"></script>
    <script src="common/scripts/swac-boot.js"></script>
    <script src="common/scripts/swac-container.js"></script>
    <script src="common/scripts/swac-serv-logging.js"></script>
    <script src="common/scripts/swac-umc.svc.js"></script>
    <script src="common/scripts/sit-signal-manager.js"></script>
    <script src="common/common.tpls.js"></script>
    
    <script src="app.js"></script>
    <script src="common/services/services.js"></script>
    <script src="common/layout/shell/shell.ctrl.js"></script>    
    <script src="common/services/governance/governance.js"></script>
    <script src="common/services/runtime/runtime.js"></script>
    <script src="common/services/engineeringData/engineeringData.js"></script>
    <script src="common/services/globalization/globalization.js"></script>
    <script src="common/services/QoS/QoS.js"></script>
    <script src="common/services/documentation/documentation.js"></script>
    <script src="common/services/administration/administration.js"></script>
    <script src="common/config/common.config.js"></script>
       
    <script src="common/widgets/accordion/accordion.js"></script>

    <script src="common/widgets/tabset/tabset.js"></script>
    
    <script src="common/widgets/navigationLink/navigationLink.js"></script>
    
    <script src="common/components/header/flymenu/flymenu.js"></script>
    <script src="common/components/header/header.js"></script>
    
    <script src="common/widgets/tiles/tiles.js"></script>
    
    <script src="common/widgets/pager/pager.js"></script>
    
    <script src="common/widgets/itemCollectionViewer/itemCollectionViewer.js"></script>
    
    <script src="common/widgets/viewBar/viewBar.js"></script>
    <script src="common/widgets/filterBar/filterBar.js"></script>
    <script src="common/widgets/switchButton/switchButton.js"></script>
    
    <script src="common/widgets/commandBar/commandBar.js"></script>
    
    <script src="common/widgets/notificationTile/notificationTile.js"></script>
    
    <script src="common/widgets/grid/grid.js"></script>
    
    <script src="common/widgets/dataSource/dataSource.js"></script>
    
    <script src="common/widgets/dialog/dialog.js"></script>
    
    <script src="common/widgets/flyout/flyout.js"></script>
    
    <script src="common/widgets/dialogButton/dialogButton.js"></script>
    
    <script src="common/widgets/checkbox/checkbox.js"></script>
    
    <script src="common/widgets/datePicker/datePicker.js"></script>
    
    <script src="common/widgets/email/email.js"></script>
    
    <script src="common/widgets/label/label.js"></script>
    
    <script src="common/widgets/numeric/numeric.js"></script>
    
    <script src="common/widgets/password/password.js"></script>
    
    <script src="common/widgets/radio/radio.js"></script>
    
    <script src="common/widgets/select/select.js"></script>
    
    <script src="common/widgets/table/table.js"></script>

    <script src="common/widgets/text/text.js"></script>
    
    <script src="common/widgets/textarea/textarea.js"></script>
    
    <script src="common/widgets/timePicker/timePicker.js"></script>
    
    <script src="common/widgets/typeahead/typeahead.js"></script>
    
    <script src="common/widgets/propertyGrid/propertyGrid.js"></script>
    
    <script src="common/widgets/overlay/overlay.js"></script>
    
    <script src="common/widgets/validator/validator.js"></script>
    
    <script src="common/widgets/entityPicker/entityPicker.js"></script>

    <script src="common/widgets/iconPicker/iconPicker.js"></script>

    <script src="common/widgets/dateTimePicker/dateTimePicker.js"></script>
    
    <script src="common/widgets/sidebar/sidebar.js"></script>
    
    <script src="common/widgets/graph/graph.js"></script>
    
    <script src="common/widgets/breadcrumb/breadcrumb.js"></script>
    
    <script src="common/widgets/busyIndicator/busyIndicator.js"></script>
    
    <script src="common/widgets/fileUpload/fileUpload.js"></script>
    
    <script src="common/widgets/filter/filter.js"></script>
    
    <script src="common/widgets/multiSelect/multiSelect.js"></script>
    
    <script src="common/widgets/iconPreview/iconPreview.js"></script>
    
    <script src="common/widgets/bindDynamicHtml/bindDynamicHtml.js"></script>
    
    <script src="common/widgets/codeHighlight/codeHighlight.js"></script>
    
    <script src="common/services/component/component.js"></script>
    <script src="common/widgets/component/component.js"></script>
    
    <script src="common/components/buttonBox/buttonBox.js"></script>
    
    <script src="common/components/mashup/mashup.js"></script>
    
    <script src="common/layout/settings/settings.js"></script>
    <script src="common/layout/home/home.ctrl.js"></script>
    <script src="common/layout/unauthorized/unauthorized.ctrl.js"></script>
    <script src="common/layout/homeState/homeState.ctrl.js"></script>  
    
    <script src="common/layout/component/component-rou.js"></script>
    <script src="common/layout/component/component-ctr.js"></script>
    
    <script src="common/components/documentation/documentation.js"></script>
    <script src="common/components/documentation/helpWindow/helpWindow.js"></script>
    <script src="common/components/documentation/anchorReslove/anchorReslove.js"></script>

    <script src="common/services/modelDriven/modelDriven.js"></script>
    <script src="common/blueprints/masterDetailsTemplate/masterDetailsTemplate.js"></script>
    <script src="common/blueprints/singleEntityTemplate/singleEntityTemplate.js"></script>
    <script src="common/blueprints/executeCommandTemplate/executeCommandTemplate.js"></script>
    <script src="common/blueprints/overviewTemplate/overviewTemplate.js"></script>
</body>
</html>