
<div data-internal-type="icon-picker-container" id="icon-picker-container" class="icon-picker-container">
    <div class="icon-selector">
        <sit-entity-picker sit-id="iconPickerCtrl.id"
                           sit-value="iconPickerCtrl.value"
                           sit-change="iconPickerCtrl.valueChanged"
                           sit-datasource="iconPickerCtrl.datasource"
                           sit-limit="iconPickerCtrl.limit"
                           sit-placeholder="iconPickerCtrl.placeholder"
                           sit-selected-attribute-to-display="iconPickerCtrl.selectedAttributeToDisplay"
                           sit-editable="iconPickerCtrl.editable"
                           sit-required="iconPickerCtrl.required"
                           sit-template-url="iconPickerCtrl.templateUrl"
                           sit-read-only="iconPickerCtrl.readOnly"
                           sit-validation="iconPickerCtrl.validation"
                           sit-selected-object="iconPickerCtrl.selectedObject"
                           ng-blur="iconPickerCtrl.ngBlur"
                           ng-disabled="iconPickerCtrl.ngDisabled"
                           ng-focus="iconPickerCtrl.ngFocus"
                           ng-readonly="iconPickerCtrl.ngReadonly"
                           class="property-grid-input-group" />
    </div>
    <div class="icon-view">
        <span>
            <em ng-if="iconPickerCtrl.selectedObject.text.startsWith('svg ') == false" class="fa {{iconPickerCtrl.selectedObject.icon}} fa-lg"></em>
            <img alt="{{iconPickerCtrl.selectedObject.icon}}" style="margin-left:5px" ng-if="iconPickerCtrl.selectedObject.text.startsWith('svg ') == true" class="svg-icon" ng-src="{{iconPickerCtrl.selectedObject.icon}}" height="24" width="24" />
        </span>
    </div>
</div>