<div class="sit-tristate-checkbox">
    <div class="label label-property-grid-control-readonly " ng-if="checkboxCtrl.readOnly || checkboxCtrl.ngReadonly || checkboxCtrl.ngDisabled">
        <ng-form name="checkboxForm" ng-class="{'isrequired' : (checkboxCtrl.validation.required) && (checkboxForm.$error.required.length===checkboxCtrl.value.length) }">
            <div class="property-grid-span-group-block " ng-model="checkboxCtrl.value">
                <div class="sit-checkbox">
                    <ng-form name="checkboxItemForm" class="group-control property-grid-no-border-items" ng-repeat="item in checkboxCtrl.value" style="display:block;">
                        <div class="group-control-data check-box" ng-class="!(checkboxCtrl.readOnly || checkboxCtrl.ngReadonly || checkboxCtrl.ngDisabled) ? 'checkbox-enabled' : 'checkbox-disabled'">
                            <input type='button'
                               name='{{item.label}}'
                               ng-class="{'un-checked': item.checked === false, 'checked': item.checked == true, 'indeterminate': item.checked === 'null'}"
                               ng-model='item.checked'
                               ng-blur="checkboxCtrl.ngBlur()"
                               sit-change="checkboxCtrl.sitChange"
                               ng-disabled="checkboxCtrl.ngDisabled"
                               ng-focus="checkboxCtrl.ngFocus()"
                               ng-required="checkboxCtrl.validation.required"
                               sit-form-input-validator />
                            <span class="tri-state property-label-ellipsis">{{item.label}}</span>
                        </div>
                    </ng-form>
                </div>
            </div>
        </ng-form>
    </div>
    <ng-form ng-if="!(checkboxCtrl.readOnly || checkboxCtrl.ngReadonly || checkboxCtrl.ngDisabled)"
             name="checkboxForm" ng-class="{'isrequired' : (checkboxCtrl.validation.required) && (checkboxForm.$error.required.length===checkboxCtrl.value.length) }">
        <div class="property-grid-span-group-block validator-control" ng-model="checkboxCtrl.value">
            <div class="sit-checkbox">
                <ng-form name="checkboxItemForm" class="group-control" ng-repeat="item in checkboxCtrl.value" style="display:block;">
                    <div class="group-control-data check-box" ng-class="!checkboxCtrl.ngDisabled ? 'checkbox-enabled' : 'checkbox-disabled'">
                        <input type='button'
                               name='{{item.label}}'
                               ng-click="checkboxCtrl.updateState($index, item.checked)"
                               ng-class="{'un-checked': item.checked === false || item.checked === undefined, 'checked': item.checked == true, 'indeterminate': item.checked === 'null'}"
                               ng-model='item.checked'
                               ng-blur="checkboxCtrl.ngBlur()"
                               sit-change="checkboxCtrl.sitChange"
                               ng-disabled="checkboxCtrl.ngDisabled"
                               ng-focus="checkboxCtrl.ngFocus()"
                               ng-required="checkboxCtrl.validation.required"
                               sit-form-input-validator />
                        <span class="tri-state property-label-ellipsis">{{item.label}}</span>
                    </div>
                </ng-form>
            </div>
        </div>
    </ng-form>
</div>
