<div data-internal-type="tileViewContainerDiv">
    <div data-internal-type="tileContainerDiv" ng-class="tileViewCtrl.options.tileContainerClass" class="tile-container">
        <div data-internal-type="showHideView" ng-switch="tileViewCtrl.options.tileType" ng-if="tileViewCtrl.showView">
            <div ng-switch-when="action">
                <sit-action-tile ng-repeat="tile in tileViewCtrl.tiles" sit-tile-content="tile">
                </sit-action-tile>
            </div>

            <div ng-switch-when="item">
                <sit-tile-group sit-format="tileViewCtrl.sitFormat" ng-repeat="group in tileViewCtrl.groups" data-sit-group="group" data-sit-groups-length="{{tileViewCtrl.groups.length}}" sit-group-expanding="tileViewCtrl.groupExpanding(groupCount)" sit-tile-options="tileViewCtrl.tileOptions" sit-multi-select="tileViewCtrl.options.multiSelect" sit-selection-mode="tileViewCtrl.options.selectionMode">
                </sit-tile-group>
            </div>

            <div ng-switch-when="notification">
                Notification tiles
            </div>

            <div ng-switch-default>
                Unknown tile type: {{tileViewCtrl.options.tileType}}.
            </div>
        </div>
        <div data-internal-type="showHideMessage" ng-if="tileViewCtrl.showMessage" class="no-data-content">
            {{tileViewCtrl.messageText}}
        </div>
    </div>
    <div data-internal-type="loading-container-xxx" ng-if="tileViewCtrl.loadingMany" style="position:absolute;left:50%;top:50%; width:300px; height:100px; margin:-50px auto auto -150px; overflow:hidden; text-align:center; background-color:white;">
        <span style="line-height:100px;"></span>
        <div style="display:inline-block; font-size:xx-large;">{{tileViewCtrl.loadingMessage}}</div>
    </div>
    <div>
        <sit-pager ng-show="tileViewCtrl.options.showPager" sit-paging-options="tileViewCtrl.options.pagingOptions" page-changing="pageChanging()"></sit-pager>
    </div>
</div>